<section class="sd-hero-block">
    <div class="sd-hero-block__content">
        <p class="mdc-typography--overline">overline</p>
        <h1 class="mdc-typography--headline1">main title</h1>
        <button class="mdc-button mdc-button--outlined">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Learn more</span>
        </button>
    </div>
</section>
