@import "../../scss/essentials";

.sd-hero-block {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url('https://dummyimage.com/1920x1080/630063/7d007d.png&text=hero+image');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 16;
        text-align: center;
        color: #fff;
    }

    .mdc-button {
        @include ink-color(#fff);
        @include outline-color(#fff);

        .mdc-button__ripple {
            @include states-base-color(#fff);
            z-index: -1;
        }
    }

    // Typography
    .mdc-typography {
        &--headline1 {
            font-size: rem(38px);
            min-height: rem(38px);
            line-height: rem(38px);
            margin-bottom: rem(40px);

            @include media--medium {
                font-size: rem(70px);
                min-height: rem(70px);
                line-height: rem(70px);
            }

            @include media--large {
                font-size: rem(80px);
                min-height: rem(80px);
                line-height: rem(80px);
            }

            @include media--x-large {
                font-size: rem(96px);
                min-height: rem(96px);
                line-height: rem(96px);
            }
        }
    }
}