@mixin media--medium {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin media--large {
    @media only screen and (min-width: 1025px) {
        @content;
    }
}

@mixin media--x-large {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}
