<header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <div class="mdc-top-app-bar__title">top app bar</div>
        </section>

        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <button class="mdc-button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">HOME</span>
            </button>
            <button class="mdc-button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">MISSION</span>
            </button>
            <button class="mdc-button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">PROCESS</span>
            </button>
            <button class="mdc-button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">BENEFITS</span>
            </button>
            <button class="mdc-button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">SUCCESS</span>
            </button>
            <button class="mdc-button mdc-button--raised">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">CONTACT US</span>
            </button>
        </section>
    </div>
</header>
