@import "../../scss/essentials";
@import "@material/top-app-bar/mdc-top-app-bar";

.mdc-top-app-bar {
    background-color: transparent;
    transition: background 500ms ease-in-out;
    z-index: 99;

    &__section {
        &--align-start {
            flex: 1 1 20%;
        }
    }

    &__title {
        display: flex;
        height: 100%;
        align-items: center;

        img {
            max-height: 40%;
            width: auto;
            max-width: 100%;
        }
    }

    .mdc-button:not(.mdc-button--raised) {
        color: #fff;
        transition: color 200ms ease-in-out;

        &:hover {
            color: $accent-color;
        }

        .mdc-button__ripple {
            z-index: -1;
        }
    }

    &--fixed-scrolled {
        background-color: #272a33;
    }
}
