// material custom theme
.mdc-layout-grid {
    @include layout-grid(desktop, null, 1140px);
}

.mdc-button {
    @include shape-radius(18px);
}

.mdc-typography--headline4 {
    margin-bottom: rem(20px);
}
