/* HELPER for SHOWING elements on breakpoints - mobile first */

// Mobile
.minXlarge,
.i-minXlarge,
.f-minXlarge,
.minLarge,
.i-minLarge,
.f-minLarge,
.minMedium,
.i-minMedium,
.f-minMedium {
    display: none !important;
}

.minSmall {
    display: block !important;
}

.i-minSmall {
    display: inline-block !important;
}

.f-minSmall {
    display: flex !important;
}

// Tablet
@include media--medium {
    .minXlarge,
    .i-minXlarge,
    .f-minXlarge,
    .minLarge,
    .i-minLarge,
    .f-minLarge,
    .minSmall,
    .i-minSmall,
    .f-minSmall {
        display: none !important;
    }

    .minMedium {
        display: block !important;
    }

    .i-minMedium {
        display: inline-block !important;
    }

    .f-minMedium {
        display: flex !important;
    }
}

// Desktop
@include media--large {
    .minXlarge,
    .i-minXlarge,
    .f-minXlarge,
    .minMedium,
    .i-minMedium,
    .f-minMedium,
    .minSmall,
    .i-minSmall,
    .f-minSmall {
        display: none !important;
    }

    .minLarge {
        display: block !important;
    }

    .i-minLarge {
        display: inline-block !important;
    }

    .f-minLarge {
        display: flex !important;
    }
}

// Desktop
@include media--x-large {
    .minMedium,
    .i-minMedium,
    .f-minMedium,
    .minSmall,
    .i-minSmall,
    .f-minSmall {
        display: none !important;
    }

    .minXlarge {
        display: block !important;
    }

    .i-minXlarge {
        display: inline-block !important;
    }

    .f-minXlarge {
        display: flex !important;
    }
}
